{% extends 'base.inc.html' %}
{% load crispy_forms_tags %}

{% block titulo %} - Cambiar contraseña {% endblock titulo %}

{% block contenido %}

<h1> Cambiar Contraseña </h1>
<p> Por razones de seguridad, por favor introduzca su antigua contraseña, luego su nueva contraseña dos veces para que pueda verificar que la escribió correctamente </p>

<form method="post">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Cambiar mi contraseña">
</form>

{% endblock contenido %}